@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


.newspaper-container {
    width: 700px;
    margin: 0 auto;
    /* background-color: #eee; */
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 4px grey;
    padding: 15px;
}

.box-shadow {
    box-shadow: 5px 5px 5px #ddd;
}

body {
    background-color: #eee;
    font-family: 'Source Sans Pro';
}

header {
  font-family: 'Abril Fatface';
}

p {
  font-family: 'Roboto Slab';
}

* {
    /* outline: 1px solid red; */
}

h1 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

h2 {
  text-align: left;
}

h3 {
    text-align: center;
}

h5 {
    color: #dd3232;
}

nav {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #eee;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    font-weight: bolder;
    border: 2px solid black;
}

ul {

}

a {
    color: inherit;
    text-decoration: none;
  }

li {
    font-size: 12px;
    display: inline-block;
    list-style-type: none;
    padding: 6px;
    color: #777;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  .center2 {
    display: block;
    margin-left: 100px;
    margin-top: 20px;
  }

  p:nth-of-type(1) {
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
  }

  .paragraph-edit {
    width: 285px;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 5px;
    text-align: justify;
  }

  .paragraph-bonus {
    width: 190px;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 5px;
    text-align: justify;
  }

  .article-border {
    border-top: 1px solid #eee;
  }

  .more-articles {
    display: inline-block;
  }

  section {
    width: 300px;
  }

  section:nth-of-type(1) {
    margin-left: 20px;
  }

  section:nth-of-type(2) {
    margin-left: 60px;
  }

  section:nth-of-type(3) {
    width: 200px;
    margin-left: 20px;
  }
  section:nth-of-type(4) {
    width: 200px;
    margin-left: 30px;
  }

  section:nth-of-type(5) {
    width: 200px;
    margin-left: 25px;
  }

  footer {
    background-color: #eee;
    border-radius: 25px;
    margin: 5px 10px 0px 5px;
    font-weight: bolder;
    text-align: center;
  }

 /*  .more-articles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  } */

